<div class="liquid" style="background-image: url('/static/top-bg.png'); right: 0px; min-height: 800px"></div>

<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#"><img src="/static/logo-color.svg" class="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text--white" href="#">Link1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text--white" href="#">Link2</a>
            </li>
            <li class="nav-item active nav-button">
                <a class="nav-link btn button-white-outlined text--white" style="margin-left: 30px" href="#">Sign up</a>

            </li>
        </ul>
    </div>
    <div class="underline"></div>
</nav>