<div class="container main-banner">
    <div class="row align-items-center h-100">
        <div class="col-md-6">
            <h3 class="text-muted" style="font-size: 1rem">We are here for you</h3>
            <h1>Desktop App for Your Lifestyle.</h1>
            <h3 class="text-muted">We want what you want.</h3>
            <div class="d-flex flex-wrap mt-4">
                <a class="btn btn-primary">Get Started – It’s Free</a>
                <a class="d-flex align-center" href="#"><button class="btn play-btn ml-4"><svg class="bi bi-play-fill" width="2rem" fill="#6633cc" height="2rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 010 1.393z"/>
                </svg></button><span class="ml-3 d-flex align-items-center secondary--text font-weight-bold">Watch wideo</span></a>
            </div>
            <div class="mt-5">
                <p class="text-muted" style="font-size: 1rem">They wrote about us:</p>
                <div class="d-flex flex-wrap">
                    <img src="/static/logos/logo1.png" class="company-logo">
                    <img src="/static/logos/logo2.png" class="company-logo">
                    <img src="/static/logos/logo3.png" class="company-logo">
                    <img src="/static/logos/logo1.png" class="company-logo">
                    <img src="/static/logos/logo2.png" class="company-logo">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="/static/macbook.png" class="w-100" style="transform: scale(1.7) translateX(40px)">
        </div>
    </div>
</div>